{% comment %}
** Contact form - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

<style>
@media screen and (min-width: 720px)
{
  .custom-contact-form__position--left, .custom-contact-form__position--right{
    padding: 0 50px;
    padding-top: 60px;
    height: 500px;
    width: calc(50% - 20px);
    background: {{ section.settings.background_color }};

  }
}
@media screen and (max-width: 720px){
    .custom-contact-form__position--left, .custom-contact-form__position--right{
        padding: 20px;
    }
}

#shopify-section-{{ section.id }}{
    background-image: url({{section.settings.background_image | img_url: 'master'}});
    padding-top:{{section.settings.padding_top}}px;
    padding-bottom:{{section.settings.padding_bottom}}px;
    background-repeat: no-repeat;
    background-position:160px top;
}
.custom-contact-form__position--left, .custom-contact-form__position--right{
  background: {{ section.settings.background_color }};
}
.custom-contact-form__position--left{
  background-image: url({{ section.settings.left_back_image | img_url: 'master'}});
}
.custom-contact-form__position--right{
  background-image: url({{ section.settings.right_back_image | img_url: 'master'}});

}

</style>

<div class="container">
  <div class="section clearfix homepage_content">
    {% include 'include-custom-contact-form' %}
  </div>
</div>

{% schema %}

{
  "name": "Contact form",
  "class": "contact-section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 30
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F0F5FB"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Section Background Image",
      "info": "1024 x 1024px recommended"
    },
    {
      "type": "image_picker",
      "id": "left_back_image",
      "label": "Left Background Image",
      "info": "800 x 500 recommended"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
    {
      "type": "image_picker",
      "id": "right_back_image",
      "label": "Right Background Image",
      "info": "800 x 500 recommended"
    },
    {
      "type": "text",
      "id": "contact_heading",
      "label": "Heading",
      "default": "Contact form"
    },
    {
      "type": "text",
      "id": "contact_subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "contact_content",
      "label": "Text",
      "default": "<p>Contact form description.</p>"
    },
    {
      "type": "select",
      "id": "contact_text_position",
      "label": "Text position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "contact_text_alignment",
      "label": "Text alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "contact_social_buttons",
      "label": "Show social media icons"
    },
    {
      "type": "header",
      "content": "Form"
    },
    {
      "type": "image_picker",
      "id": "contact_logo",
      "label": "Logo",
      "info": "500 x 500px recommended"
    }
  ],
  "blocks": [
    {
      "type": "checkbox",
      "name": "Checkbox",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Title",
          "default": "Select all that apply"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Field is required"
        },
        {
          "type": "text",
          "id": "options_1",
          "label": "Option 1",
          "default": "Option 1"
        },
        {
          "type": "text",
          "id": "options_2",
          "label": "Option 2",
          "default": "Option 2"
        },
        {
          "type": "text",
          "id": "options_3",
          "label": "Option 3",
          "default": "Option 3"
        },
        {
          "type": "text",
          "id": "options_4",
          "label": "Option 4"
        },
        {
          "type": "text",
          "id": "options_5",
          "label": "Option 5"
        },
        {
          "type": "text",
          "id": "options_6",
          "label": "Option 6"
        },
        {
          "type": "text",
          "id": "options_7",
          "label": "Option 7"
        },
        {
          "type": "text",
          "id": "options_8",
          "label": "Option 8"
        },
        {
          "type": "text",
          "id": "options_9",
          "label": "Option 9"
        },
        {
          "type": "text",
          "id": "options_10",
          "label": "Option 10"
        }
      ]
    },
    {
      "type": "email",
      "name": "Email (required)",
      "limit": 1,
      "settings": [
        {
            "type": "paragraph",
            "content": "Email field must be included."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Email"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "default": "Enter your email"
        }
      ]
    },
    {
      "type": "dropdown",
      "name": "Drop-down",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "default": "Make a selection"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Field is required"
        },
        {
          "type": "text",
          "id": "options_1",
          "label": "Option 1",
          "default": "Option 1"
        },
        {
          "type": "text",
          "id": "options_2",
          "label": "Option 2",
          "default": "Option 2"
        },
        {
          "type": "text",
          "id": "options_3",
          "label": "Option 3",
          "default": "Option 3"
        },
        {
          "type": "text",
          "id": "options_4",
          "label": "Option 4"
        },
        {
          "type": "text",
          "id": "options_5",
          "label": "Option 5"
        },
        {
          "type": "text",
          "id": "options_6",
          "label": "Option 6"
        },
        {
          "type": "text",
          "id": "options_7",
          "label": "Option 7"
        },
        {
          "type": "text",
          "id": "options_8",
          "label": "Option 8"
        },
        {
          "type": "text",
          "id": "options_9",
          "label": "Option 9"
        },
        {
          "type": "text",
          "id": "options_10",
          "label": "Option 10"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this field to display text of any kind, such as standard reply times for inquiries.</p>"
        }
      ]
    },
    {
      "type": "radio",
      "name": "Radio buttons",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Title",
          "default": "Choose an option"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Field is required"
        },
        {
          "type": "text",
          "id": "options_1",
          "label": "Option 1",
          "default": "Option 1"
        },
        {
          "type": "text",
          "id": "options_2",
          "label": "Option 2",
          "default": "Option 2"
        },
        {
          "type": "text",
          "id": "options_3",
          "label": "Option 3",
          "default": "Option 3"
        },
        {
          "type": "text",
          "id": "options_4",
          "label": "Option 4"
        },
        {
          "type": "text",
          "id": "options_5",
          "label": "Option 5"
        },
        {
          "type": "text",
          "id": "options_6",
          "label": "Option 6"
        },
        {
          "type": "text",
          "id": "options_7",
          "label": "Option 7"
        },
        {
          "type": "text",
          "id": "options_8",
          "label": "Option 8"
        },
        {
          "type": "text",
          "id": "options_9",
          "label": "Option 9"
        },
        {
          "type": "text",
          "id": "options_10",
          "label": "Option 10"
        }
      ]
    },
    {
      "type": "textarea",
      "name": "Text area",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Title",
          "default": "Message"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "default": "Message"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Field is required"
        }
      ]
    },
    {
      "type": "textfield",
      "name": "Text field",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Field is required"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Contact form",
    "category": "Store information",
    "settings": {
      "contact_subheading": "Contact Us Today!",
      "contact_content": "<p>Customize your contact form to suit your business! Add custom fields like a dropdown menu, checkbox, text fields and more, so that you can gather pertinent info from shoppers right from the get-go, to help answer their inquiries more effectively.</p>"
    },
    "blocks": [
      {
        "type": "textfield",
        "settings": {
          "label": "Name",
          "placeholder": "Name",
          "required": true
        }
      },
      {
        "type": "email",
        "settings": {
          "label": "Email",
          "placeholder": "Email"
        }
      },
      {
        "type": "textarea",
        "settings": {
          "label": "Message",
          "placeholder": "Message",
          "required": true
        }
      }
    ]
  }]
}

{% endschema %}
