{% if section.settings.title != '' %}
<div class="section-header">
  <div class="container">
  	<h3>{{ section.settings.title }}</h3>
  </div>
</div>
{% endif %}

<section data-section-type="faq" data-section-id="{{ section.id }}">
  <div class="container">
    
    <div class="inline-flex">
    
      <dl class="accordion">
        {%- for block in section.blocks -%}
        {% assign even = forloop.index | modulo:2 %}
        {% if even == 0 %}
          {% continue %}
        {% endif %}

        <dt><a href="#"><small class="right">&#9668;</small>{{ block.settings.title | escape }}</a></dt>
        <dd>{{ block.settings.answer }}</dd>  

        {%- endfor -%}
      </dl>

      <dl class="accordion">
        {%- for block in section.blocks -%}
        {% assign even = forloop.index | modulo:2 %}
        {% if even != 0 %}
          {% continue %}
        {% endif %}

        <dt><a href="#"><small class="right">&#9668;</small>{{ block.settings.title | escape }}</a></dt>
        <dd>{{ block.settings.answer }}</dd>  

        {%- endfor -%}
      </dl>
      
    </div>
    
  </div>
</section>

{% schema %}
{
  "name": "FAQ testttt",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{% endschema %}