    {% comment %} background-image: url({{section.settings.background_image | img_url: 'master'}}); {% endcomment %}

<style>
#shopify-section-{{ section.id }}{
    padding-top:{{section.settings.padding_top}}px;
    padding-bottom:{{section.settings.padding_bottom}}px;
    background: {{ section.settings.background_color }};
    background-image:url({{ section.settings.back_image | img_url: 'master'}});
    background-repeat: no-repeat;

}
#shopify-section-{{ section.id }}>.container{
  max-width:1400px;
}
</style>

<div class="container">
  {% if section.settings.title != blank %}
    <div class="sixteen columns">
      <h2 class="title center">{{ section.settings.title | escape }}</h2>
      <div class="feature_divider"></div>
    </div>
  {% endif %}
  

  {% comment %} <div class="hide_desktop">
    <div class="js-product-slider">
      <div class="slider-gallery products-slider products-length-{{ section.blocks.size }}"
           data-products-per-slide="1"
           data-products-limit="{{ section.blocks.size }}"
           data-products-available="{{ section.blocks.size }}">

        {% for block in section.blocks %}      	
        <div class="gallery-cell visible-1 text-column" {{ block.shopify_attributes }}>
          <div class="border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
            {% if block.settings.enable_image %}
            {% if block.settings.image != blank %}
            {% render 'image-element',
                        image: block.settings.image.src,
            alt: block.settings.image.alt
            %}
            {% else %}
            <p>
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </p>
            {% endif %}
            {% endif %}
            {% if block.settings.title != blank %}
            <h3 class="{{ block.settings.heading_size }}">{{ block.settings.title | escape }}</h3>
            {% endif %}
            {% if block.settings.text != blank %}
            <div class="rte-setting"><p>{{ block.settings.text }}</p></div>
            {% endif %}
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}
            <a href="{{ block.settings.button_link }}" class="action_button continue-button"> 
            <a href="{{ block.settings.button_link }}" class="action_button">
              {{ block.settings.button_label | escape }}
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>   {% endcomment %}
<div class="hide_desktop">
    {% for block in section.blocks %}
    {% if section.blocks.size == 1 %}
      {%- assign column_width = 'sixteen columns' -%}
      {% elsif section.blocks.size == 3 %}
        {%- assign column_width = 'one-third column' -%}
      {% elsif section.blocks.size == 4 %}
        {%- assign column_width = 'four columns medium-down--one-half' -%}
      {% elsif section.blocks.size == 5 %}
        {%- assign column_width = 'one-fifth column medium-down--one-half' -%}
      {% else %}
        {%- assign column_width = 'eight columns medium-down--one-half' -%}
      {% endif %}
      <div class="{{ column_width }} text-column" {{ block.shopify_attributes }}>
        <div class="border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">

          <div class="description">
          {% if block.settings.title != blank %}
            <h2 class="title center">{{ block.settings.title | escape }}</h2>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="one-column rte-setting">{{ block.settings.text }}</div>
          {% endif %}
          {% if block.settings.button_label != blank and block.settings.button_link != blank %}

            {% comment %} ============Customized By Hoppe {% endcomment %}

            {% comment %} <a href="{{ block.settings.button_link }}" class="action_button continue-button"> {% endcomment %}
            <a href="{{ block.settings.button_link }}" class="action_button custom-margin-button">
              {{ block.settings.button_label | escape }}
            </a>

          {% endif %}
          </div>
          {% if block.settings.enable_image %}
            {% if block.settings.image != blank %}
              {% render 'image-element',
                      image: block.settings.image.src,
                      alt: block.settings.image.alt
              %}
            {% else %}
              <p>
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="hide_mobile">
    {% for block in section.blocks %}
    {% if section.blocks.size == 1 %}
      {%- assign column_width = 'sixteen columns' -%}
      {% elsif section.blocks.size == 3 %}
        {%- assign column_width = 'one-third column' -%}
      {% elsif section.blocks.size == 4 %}
        {%- assign column_width = 'four columns medium-down--one-half' -%}
      {% elsif section.blocks.size == 5 %}
        {%- assign column_width = 'one-fifth column medium-down--one-half' -%}
      {% else %}
        {%- assign column_width = 'eight columns medium-down--one-half' -%}
      {% endif %}
      <div class="{{ column_width }} text-column" {{ block.shopify_attributes }}>
        <div class="border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
          {% if block.settings.enable_image %}
            {% if block.settings.image != blank %}
              {% render 'image-element',
                      image: block.settings.image.src,
                      alt: block.settings.image.alt
              %}
            {% else %}
              <p>
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </p>
            {% endif %}
          {% endif %}
          {% if block.settings.title != blank %}
            <h2 class="title center">{{ block.settings.title | escape }}</h2>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="one-column rte-setting">{{ block.settings.text }}</div>
          {% endif %}
          {% if block.settings.button_label != blank and block.settings.button_link != blank %}

            {% comment %} ============Customized By Hoppe {% endcomment %}

            {% comment %} <a href="{{ block.settings.button_link }}" class="action_button continue-button"> {% endcomment %}
            <a href="{{ block.settings.button_link }}" class="action_button custom-margin-button">
              {{ block.settings.button_label | escape }}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "One Column Image Button",
    "class": "text-columns-with-images-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "one-column-image-button"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding Top",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 30
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#F0F5FB"
      },
      {
        "type": "image_picker",
        "id": "back_image",
        "label": "Section Background Image",
        "info": "1900 x 1000 recommended"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "limit": 5,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "options": [
              {
                "value": "regular_text",
                "label": "Regular"
              },
              {
                "value": "large_text",
                "label": "Large"
              }
            ],
            "default": "regular_text"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "border_style",
            "label": "Border style",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "quote",
                "label": "Quote"
              }
            ],
            "default": "none"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "One Column Image Button",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          }
          
        ]
      }
    ]
  }
{% endschema %}
